
.idea/
.vscode/
*.swp
*.swo
*.iml
*.njsproj
*.sln

# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output


# Hardhat coverage reports
/coverage
.vercel


*.zip
Hackathon.md
AWSBounty.md
.env
.env.local